<div class="add">
    <link rel="preload" as="image" href="./img/add-bg-lazy.png">
    <div class="add__bg">
        <img class="lazy" src="./img/add-bg-lazy.png" data-src="./img/add-bg.png" alt="">
    </div>
    <picture class="add__pic">
        <source data-srcset="./img/add-pic.webp" type="image/webp">
        <source data-srcset="./img/add-pic.png" type="image/png">
        <img class="lazy" src="./img/add-pic-lazy.png" data-src="./img/add-pic.png" alt="">
    </picture>
    <div class="add__content">
        <div class="add__title">Добавить АМ-22 в свой арсенал?</div>
        <div class="add__btn"><a href="#">Добавить</a></div>
    </div>
</div>