<div class="aim">
    <div class="aim__pic">
        <img src="./img/aim-pic-1.png" alt="">
    </div>
    <div class="aim__content">
        <h2>Фирменная подсветка выстрела</h2>
        <p>Отличительной особенностью игровых комплектов LASERWAR является уникальная крестообразная подсветка выстрела. Ярко-оранжевое свечение напоминает о том, что перед вами пусть игровое, но всё-таки оружие. Подсветка дополняет комплекс эффектов, созданных нами для усиления реалистичности игры.</p>
    </div>
</div>