<div class="benefits">
    <div class="benefits__item">
        <div class="benefits__inner">
            <div class="benefits__content">
                <h2>Технология отдачи <strong>Feedback</strong></h2>
                <div class="benefits__content-cols">
                    <div class="benefits__content-col benefits__content-col--big">
                        <p>Фирменная технология Feedback дарит игрокам невероятное ощущение <strong>реализма</strong></p>
                    </div>
                    <div class="benefits__content-col">
                        <p>Выстрелы, ранения, сигналы об отсутствии патронов сопровождаются вибросигналом. Тагер не просто звучит, он словно оживает с каждым выстрелом! Отдача LASERWAR срабатывает мягко, но ощутимо, так что вы не пропустите момент попадания.</p>
                    </div>
                </div>
            </div>
            <div class="benefits__pic">
                <picture>
                    <source srcset="/img/benefits-pic-1.webp" type="image/webp">
                    <source srcset="/img/benefits-pic-1.png" type="image/png">
                    <img src="/img/benefits-pic-1.png" alt="">
                </picture>
            </div>
        </div>
    </div>
    <div class="benefits__item">
        <div class="benefits__inner">
            <div class="benefits__content">
                <h2>Яркий и чёткий <strong>OLED-дисплей</strong></h2>
                <div class="benefits__content-cols">
                    <div class="benefits__content-col benefits__content-col--big">
                        <p>Мы используем в наших тагерах OLED-дисплеи компании Winstar, которые обеспечивают оптимальный уровень контрастности и чёткости, не бликуют на солнце. </p>
                    </div>
                    <div class="benefits__content-col">
                        <p>С АМ-22 комфортно играть в любое время суток: при дневном свете экран не отсвечивает, в темноте надписи на нём прекрасно видны даже на расстоянии. Мы не перегружаем игроков излишней информацией, на дисплей выводится только то, что необходимо игроку в бою – данные о количестве оставшихся жизней и патронов.</p>
                    </div>
                </div>
            </div>
            <div class="benefits__pic">
                <picture>
                    <source srcset="/img/benefits-pic-2.webp" type="image/webp">
                    <source srcset="/img/benefits-pic-2.png" type="image/png">
                    <img src="/img/benefits-pic-2.png" alt="">
                </picture>
            </div>
        </div>
    </div>
    <div class="benefits__item">
        <div class="benefits__inner">
            <div class="benefits__content">
                <h2>Насыщенный, <strong>громкий звук</strong></h2>
                <div class="benefits__content-cols">
                    <div class="benefits__content-col benefits__content-col--big">
                        <p>Технология акустического гнезда, использумого в АМ-22, позволяет достичь максимально громкого и четкого звука. </p>
                    </div>
                    <div class="benefits__content-col">
                        <p>Качественный динамик PRO Signal 57 мм обеспечивает богатое и чистое звучание. Он не боится воды и загрязнений и прослужит долго.</p>
                    </div>
                </div>
            </div>
            <div class="benefits__pic">
                <picture>
                    <source srcset="/img/benefits-pic-3.webp" type="image/webp">
                    <source srcset="/img/benefits-pic-3.png" type="image/png">
                    <img src="/img/benefits-pic-3.png" alt="">
                </picture>
            </div>
        </div>
    </div>
    <div class="benefits__item">
        <div class="benefits__inner">
            <div class="benefits__content">
                <h2>Тактическая рукоятка </h2>
                <div class="benefits__content-cols">
                    <div class="benefits__content-col benefits__content-col--big">
                        <p><strong>В комплекте</strong></p>
                        <p>Владельцы АМ-22 получают в комплекте с тагером нашу фирменную тактическую рукоятку. Рукоятка уравновешивает автомат и делает процесс игры комфортным для бойца. </p>
                    </div>
                    <div class="benefits__content-col">
                        <p>Ее корпус изготовлен из оружейного пластика, который славится износостойкостью и прочностью. Прототипом для нее послужила рукоятка фирмы «Магпул» – культового американского производителя аксессуаров для оружия. Шероховатая текстура покрытия и дугообразные отливы верхней части гарантируют надёжный захват рукой.</p>
                    </div>
                </div>
            </div>
            <div class="benefits__pic">
                <picture>
                    <source srcset="/img/benefits-pic-4.webp" type="image/webp">
                    <source srcset="/img/benefits-pic-4.png" type="image/png">
                    <img src="/img/benefits-pic-4.png" alt="">
                </picture>
            </div>
        </div>
    </div>
</div>