<div class="bumper-track">
    <div class="bumper">
        <div class="bumper__seq js-bumper-block"></div>
        <div class="bumper__content">
            <h2>Защитный бампер «Спорт»</h2>
            <div class="bumper__benefits">
                <div class="bumper__benefit">
                    <img src="/img/bumper-icon-1.svg" alt="">
                    <p>Ещё одно эксклюзивное техническое решение LASERWAR. </p>
                </div>
                <div class="bumper__benefit">
                    <img src="/img/bumper-icon-2.svg" alt="">
                    <p>Особая насадка, изготовленная специально для массовых активных игр. </p>
                </div>
                <div class="bumper__benefit">
                    <img src="/img/bumper-icon-3.svg" alt="">
                    <p>Используется так же в спортивном лазертаге. </p>
                </div>
                <div class="bumper__benefit">
                    <img src="/img/bumper-icon-4.svg" alt="">
                    <p>Выполнена из мягкого пластика и имеет несколько цветовых решений.</p>
                </div>
                <div class="bumper__benefit">
                    <img src="/img/bumper-icon-5.svg" alt="">
                    <p>Удобно использовать для обозначения цветов команд. </p>
                </div>
                <div class="bumper__benefit">
                    <img src="/img/bumper-icon-6.svg" alt="">
                    <p>Придаёт тагеру более агрессивный, внушительный вид.</p>
                </div>
            </div>
        </div>
    </div>
</div>