<div class="mask-track">
    <link rel="preload" as="image" href="/img/mask-pic-lazy.png">
    <div class="mask pin">
        <div class="mask__pic">
            <picture>
                <source data-srcset="/img/mask-pic.webp" type="image/webp">
                <source data-srcset="/img/mask-pic.jpg" type="image/jpeg">
                <img class="lazy" src="/img/mask-pic-lazy.png" data-src="/img/mask-pic.jpg" alt="">
            </picture>
        </div>
        <div class="mask__content">
            <div class="mask__content-inner">
                <div class="mask__title">
                    <strong>x2</strong> времени работы
                </div>
                <p>Базовая емкость аккумулятора позволяет непрерывно играть более полутора суток. </p>
            </div>
        </div>
    </div>
</div>
<div class="x2-content">
    <div class="x2-content__big">
        <p><span><strong>Хотите удвоить этот показатель? </strong></span></p>
        <p>
            <span>Установите дополнительный</span>
            <span>аккумулятор и играйте <strong>в два раза</strong> </span>
            <span><strong>дольше!</strong> 72 часа непрерывной</span>
            <span>работы вместо 36 – АМ-22 вне </span>
            <span>конкуренции</span>
        </p>
    </div>
    <div class="x2-content__small">
        <p><strong>Современные литиевые аккумуляторы</strong></p>
        <p>Новый АМ-22 оснащён батареей LI+ ёмкостью 2200 ампер-часов. Встроенная плата защиты предохраняет аккумулятор автомата от перезарядки и глубокой разрядки. </p>
    </div>
</div>