<div class="pic-grid">
    <div class="pic-grid__inner">
        <div class="pic-grid__pic pic-grid__pic--1" data-direction="bottom">
            <picture>
                <source srcset="./img/grid-pic-1.webp" type="image/webp">
                <source srcset="./img/grid-pic-1.jpg" type="image/jpeg">
                <img src="./img/grid-pic-1.jpg" alt="">
            </picture>
        </div>
        <div class="pic-grid__pic pic-grid__pic--2" data-direction="bottom">
            <picture>
                <source srcset="./img/grid-pic-2.webp" type="image/webp">
                <source srcset="./img/grid-pic-2.jpg" type="image/jpeg">
                <img src="./img/grid-pic-2.jpg" alt="">
            </picture>
        </div>
        <div class="pic-grid__pic pic-grid__pic--3" data-direction="top">
            <picture>
                <source srcset="./img/grid-pic-3.webp" type="image/webp">
                <source srcset="./img/grid-pic-3.jpg" type="image/jpeg">
                <img src="./img/grid-pic-3.jpg" alt="">
            </picture>
        </div>
        <div class="pic-grid__pic pic-grid__pic--4" data-direction="bottom">
            <picture>
                <source srcset="./img/grid-pic-4.webp" type="image/webp">
                <source srcset="./img/grid-pic-4.jpg" type="image/jpeg">
                <img src="./img/grid-pic-4.jpg" alt="">
            </picture>
        </div>
    </div>
</div>