<div class="prisma">
    <link rel="preload" as="image" href="./img/prisma-pic-lazy.png">
    <div class="prisma__inner">
        <div class="prisma__pic">
            <picture>
                <source data-srcset="./img/prisma-pic.webp" type="image/webp">
                <source data-srcset="./img/prisma-pic.png" type="image/png">
                <img class="lazy" src="./img/prisma-pic-lazy.png" data-src="./img/prisma-pic.png" alt="">
            </picture>
        </div>
        <div class="prisma__content">
            <p><strong>Классическая оптика «Призма»</strong></p>
            <div class="prisma__content-big">
                <p> «Призма» до сих пор остается востребованной во многих прокатных клубах, ориентированных на широкую аудиторию игроков. </p>
            </div>
            <div class="prisma__content-small">
                <p>Отлично сбалансированная, она одинаково хорошо подходит как детям, так и взрослым. Оптимальная дальность стрельбы до 250 метров, а чтобы поразить соперника, нужно тщательно целиться – совсем как в настоящем бою.</p>
            </div>
        </div>
    </div>
</div>