<div class="promo">
    <div class="promo__header">
        <div class="promo__logo">
            <img src="/img/promo-logo.svg" alt="">
            <span>AM-22 PREDATOR</span>
        </div>
        <div class="promo__btn">
            <a href="#">В магазин</a>
        </div>
    </div>
    <div class="promo__block">
        <picture>
            <source srcset="/img/promo-pic.webp" type="image/webp">
            <source srcset="/img/promo-pic.png" type="image/png">
            <img src="/img/promo-pic.png" alt="">
        </picture>
        <div class="promo__content">
            <h1>AM-22 ХИЩНИК</h1>
            <span>Продолжение легенды <img src="/img/promo-icon.svg" alt=""></span>
        </div>
    </div>
</div>