<div class="reload">
    <div class="reload__content">
        <div class="reload__title">
            <span>Одной из главных особенностей </span>
            <span>АМ-22 стал механизм <strong>перезарядки</strong></span>
            <span><strong>на затвор</strong>, такой же, как в</span>
            <span>оригинальном автомате. Технология</span>
            <span>подвижного затвора уже отработана</span>
            <span>на модели АК-15 «Ратник»</span>
        </div>
        <div class="reload__block">
            <p>Мы уверены в качестве, так как контролируем весь процесс разработки, производства и сборки.</p>
            <p> Но для самых юных игроков мы оставили возможность перезарядки макета простым нажатием на кнопку. Кнопка выполнена по стандартам защиты IP67 и прекрасно защищена от влаги и пыли, не западает и срабатывает чётко после нажатия.</p>
            <p>Каким из двух способов пользоваться решит сам игрок.</p>
        </div>
    </div>
    <div class="reload__video">
        <video autoplay loop muted playsinline preload="none" data-autoplay>
            <source src="./img/reload.mp4" type="video/mp4">
        </video>
    </div>
</div>