<div class="sights">
    <div class="sights__content">
        <div class="sights__col sights__col--big">
            <p><strong>Прицельные приспособления</strong></p>
            <p> Мушка и целик нового АМ-22 имеют съемное крепление на верхнюю планку Пикатини, что дает возможность легко заменить их на коллиматорный прицел. </p>
        </div>
        <div class="sights__col sights__col--small">
            <p> Для их изготовления использовался прочный оружейный пластик. Выполненная из такого материала прицельная планка не станет слабым местом вашего автомата. Использование коллиматоров делает игру более динамичной и интересной. </p>
        </div>
    </div>
    <div class="sights__pic">
        <picture>
            <source srcset="/img/sights-pic.webp" type="image/webp">
            <source srcset="/img/sights-pic.png" type="image/png">
            <img src="/img/sights-pic.png" alt="">
        </picture>
    </div>
</div>