<div class="design">
    <div class="text-col">
        <div class="text-col__cols">
            <div class="text-col__col text-col__col--offset-left">
                <div class="text-col__inner">
                    <div class="h2">&nbsp;</div>
                    <p>
                        <span>Выпущенный концерном Калашникова в 2017 </span>
                        <span>году компактный автомат АМ-17 оказался так</span>
                        <span>похож на наш «Хищник», что мы решили</span>
                        <span>вдохнуть новую жизнь в старый макет и сделали</span>
                        <span>рестайлинг АК-12LT «Хищника», которому дали</span>
                        <span>название AM-22.</span>
                    </p>
                </div>
            </div>
            <div class="text-col__col text-col__col--big">
                <div class="text-col__inner">
                    <h2>Дизайн</h2>
                    <p>
                        <span>Приняв за основу классический корпу</span>
                        <span>Хищника, мы изменили <strong>форму магазина</strong>,</span>
                        <span>визуально приблизив его к прототипу – автомату АМ-17.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="design-pic">
        <picture>
            <source srcset="/img/design-pic.webp" type="image/webp">
            <source srcset="/img/design-pic.png" type="image/png">
            <img src="/img/design-pic.png" alt="">
        </picture>
        <div class="design-text">
            <span>Новый макет <strong>сочетает в себе черты двух его прототипов</strong></span>
            <span>и лучшие технические решения от LASERWAR. У него достойная</span>
            <span>история и не менее достойное будущее</span>
        </div>
    </div>
</div>