<div class="text-col text-col--lines text-col--200">
    <div class="text-col__cols">
        <div class="text-col__col text-col__col--offset-left">
            <div class="text-col__inner">
                <span>Десять лет назад, мы создали лазертаг автомат</span>
                <span>АК-12LT «Хищник», ориентируясь на</span>
                <span>представленный концерном Калашникова </span>
                <span>прототип автомата АК-12.</span>
            </div>
        </div>
        <div class="text-col__col text-col__col--offset-right">
            <div class="text-col__inner">
                <span>За прошедшие 10 лет боевой прототип АК-12 </span>
                <span>прошел путь от проекта до серийного изделия и </span>
                <span>сегодня он уже не слишком похож на своего тезку</span>
                <span>от LASERWAR. </span>
            </div>
        </div>
    </div>
</div>