<div class="trigger">
    <link rel="preload" as="image" href="./img/trigger-pic-lazy.png">
    <div class="trigger__content">
        <div class="trigger__content-big">
            <p><strong>Бесконтактная система спуска</strong></p>
            <p>Система бесконтактного спуска защищена от любых внешних воздействий среды – ей не страшны влажность, удары, механические нагрузки. Механизм выдержит бесконечное количество нажатий и переживёт тысячи игр.</p>
        </div>
        <div class="trigger__content-small">
            <p>В прокатном клубе время жизни спускового механизма тагера по определению конечно. Рано или поздно микропереключатель требует замены, поскольку его контакты со временем окисляются от влаги. При модернизации Хищник, мы это учли и использовали бесконтактную систему коммутации выстрела, основанную на работе датчика Холла. </p>
            <p>Высококачественные неодимовые магниты обеспечивают отменную точность срабатывания. Никаких осечек, никаких промедлений – спусковой крючок чётко реагирует на каждое нажатие. </p>
        </div>
    </div>
    <div class="trigger__pic">
        <picture>
            <source data-srcset="./img/trigger-pic.webp" type="image/webp">
            <source data-srcset="./img/trigger-pic.png" type="image/png">
            <img class="lazy" src="./img/trigger-pic-lazy.png" data-src="./img/trigger-pic.png" alt="">
        </picture>
    </div>
</div>