<div class="uniq">
    <div class="uniq__content">
        <h2>Уникальные качества АМ-22</h2>
        <p><strong>Корпус</strong></p>
        <div class="uniq__content-cols">
            <div class="uniq__content-col">
                <p class="uniq__big-text">Литой корпус Хищника, выполненный из ударопрочного аморфного полимера, доказал свою жизнеспособность, став уже классикой лазертаг-проката.</p>
            </div>
            <div class="uniq__content-col">
                <p><em>Его материал обладает повышенной вязкостью, поэтому не ломается и не трескается. </em></p>
            </div>
        </div>
    </div>
    <div class="uniq__pic">
        <picture>
            <source srcset="/img/uniq-pic.webp" type="image/webp">
            <source srcset="/img/uniq-pic.png" type="image/png">
            <img src="/img/uniq-pic.png" alt="">
        </picture>
    </div>
    <div class="uniq__benefits">
        <div class="uniq__benefit">
            <img src="/img/uniq-icon-1.svg" alt="">
            <p>Выдерживает падение с высоты трёх этажей и удар о стену</p>
        </div>
        <div class="uniq__benefit">
            <img src="/img/uniq-icon-2.svg" alt="">
            <p>Не боится морозов</p>
        </div>
        <div class="uniq__benefit">
            <img src="/img/uniq-icon-3.svg" alt="">
            <p>Защищен от дождя, пыли и грязи</p>
        </div>
    </div>
</div>