$colTextClass: '.text-col';

#{$colTextClass} {
    margin: auto;
    color: $color-font-gray;

    &__cols {
        margin-left: -2rem;
        margin-right: -2rem;
        display: flex;
        flex-flow: row wrap;
    }

    &__col {
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 100%;
        display: flex;
        flex-flow: row wrap;

        &:last-child {
            padding-bottom: 0;
        }

        @media (min-width: $breakpoint-tablet) {
            padding-bottom: 0;
            width: 50%;
        }

        span {
            @media (min-width: $breakpoint-desktop) {
                display: block;
            }
        }

        &--offset-left #{$colTextClass}__inner {
            margin-left: auto;
            max-width: 40rem;
        }
        &--offset-right #{$colTextClass}__inner {
            margin-right: auto;
            max-width: 40rem;
        }

        &--big {
            font-size: 2.4rem;
            font-weight: 600;
            color: $color-white;
            line-height: 1.3;

            strong {
                color: $color-red;
            }
        }
    }

    &__inner {
        p {
            margin-bottom: 1em;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &--200 {
        padding-bottom: 10rem;

        @media (min-width: $breakpoint-desktop-extra) {
            padding-bottom: 20rem;
        }
    }
    &--80 {
        padding-bottom: 8rem;
    }

    &--design {
        #{$colTextClass} {
            &__col {
                @media (max-width: calc(#{$breakpoint-desktop} - 1px)) {
                    &:nth-child(1) {
                        order: 2;
                    }
                    &:nth-child(2) {
                        order: 1;
                    }
                }
            }
        }
    }
}

.design-pic {
    margin-left: -2rem;
    margin-right: -2rem;
    text-align: center;

    img {
        padding-top: 5rem;
        padding-bottom: 5rem;
        max-width: 100%;

        @media (min-width: $breakpoint-desktop) {
            padding-top: 0;
            padding-bottom: 0;
            max-height: 45rem;
        }
        @media (min-width: $breakpoint-desktop-extra) {
            max-height: none;
        }
    }
}

.design-text {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
    padding-bottom: 10rem;
    max-width: 84rem;
    font-weight: 600;
    color: $color-white;
    line-height: 1.3;
    text-align: left;

    @media (min-width: $breakpoint-tablet) {
        font-size: 2.4rem;
    }
    @media (min-width: $breakpoint-desktop) {
        padding-bottom: 10rem;
        text-align: center;
    }
    @media (min-width: $breakpoint-desktop-extra) {
        padding-bottom: 20rem;
    }

    span {
        @media (min-width: $breakpoint-desktop) {
            display: block;
        }
    }

    strong {
        color: $color-red;
    }
}
