$reloadClass: '.reload';

#{$reloadClass} {
    margin-bottom: 10rem;
    
    @media (min-width: $breakpoint-desktop) {
        margin-bottom: 20rem;
    }

    &__content {
        margin: auto;
        max-width: 120rem;
    }
    &__title {
        margin-bottom: 3rem;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 1.1;

        @media (min-width: $breakpoint-tablet) {
            margin-bottom: 8rem;
            font-size: 3.9rem; 
        }
        @media (min-width: $breakpoint-desktop) {
            font-size: 6rem; 
        }

        span {
            display: block;
        }

        strong {
            color: $color-red;
        }
    }
    &__block {
        padding-bottom: 4rem;
        width: 100%;
        color: $color-font-gray;
        
        @media (min-width: $breakpoint-desktop) {
            padding-bottom: 0;
            margin-left: auto;
            width: 50%;
        }

        p {
            margin-bottom: 1em;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__video {
        margin-left: -2rem;
        margin-right: -2rem;

        video {
            display: block;
        }
    }
}
