$sightsClass: '.sights';

#{$sightsClass} {
    &__content {
        margin-left: -2rem;
        margin-right: -2rem;
        padding-left: 18rem;
        display: flex;
        flex-flow: row wrap;
    }
    &__col {
        padding-left: 2rem;
        padding-right: 2rem;

        p {
            margin-bottom: 1em;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &--big {
            width: 60%;
            font-size: 2.4rem;
            font-weight: 600;
            color: $color-white;
            line-height: 1.3;

            strong {
                color: $color-red;
            }
        }
        &--small {
            padding-top: 5.5rem;
            width: 40%;
            color: $color-font-gray;
        }
    }
    &__pic {
        margin: -10rem -20rem 0;
        pointer-events: none;
        background-color: $color-black;

        img {
            max-width: 100%;
        }
    }
}
