$sightsClass: '.sights';

#{$sightsClass} {
    @media (min-width: $breakpoint-desktop) {
        padding-left: 18rem;
    }

    & > p {
        margin-bottom: 1em;
        font-size: 2.4rem;
        font-weight: 600;
        color: $color-white;
        line-height: 1.3;

        strong {
            color: $color-red;
        }
    }
    &__content {
        margin-left: -2rem;
        margin-right: -2rem;
        display: flex;
        flex-flow: row wrap;
    }
    &__col {
        padding-left: 2rem;
        padding-right: 2rem;

        p {
            margin-bottom: 1em;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &--big {
            padding-bottom: 3rem;
            font-weight: 600;
            color: $color-white;
            line-height: 1.3;
            width: 100%;

            @media (min-width: $breakpoint-tablet) {
                padding-bottom: 0;
                font-size: 2.4rem;
                width: 50%;
            }
            @media (min-width: $breakpoint-desktop) {
                width: 60%;
            }

            strong {
                color: $color-red;
            }
        }
        &--small {
            width: 100%;
            color: $color-font-gray;

            @media (min-width: $breakpoint-tablet) {
                width: 50%;
            }
            @media (min-width: $breakpoint-desktop) {
                width: 40%;
            }
        }
    }
    &__pic {
        margin: -5rem -10rem 0;
        pointer-events: none;
        background-color: $color-black;
        text-align: center;
        
        @media (min-width: $breakpoint-desktop) {
            margin: -5rem -20rem 0;
        }

        img {
            max-width: 100%;

            @media (min-width: $breakpoint-desktop) {
                max-width: 80%;
            }
            @media (min-width: $breakpoint-desktop-extra) {
                max-width: 100%;
            }
        }
    }
}
