$triggerCLass: '.trigger';

#{$triggerCLass} {
    &__content {
        margin: auto;
        max-width: 120rem;
        display: flex;
        flex-flow: row wrap;

        p {
            margin-bottom: 1em;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-big {
            padding-bottom: 3rem;
            width: 100%;
            font-weight: 600;
            line-height: 1.3;
            color: $color-white;

            @media (min-width: $breakpoint-tablet) {
                padding-left: 2rem;
                padding-right: 2rem;
                padding-bottom: 0;
                width: 50%;
                font-size: 2.4rem;
            }

            strong {
                color: $color-red;
            }
        }
        &-small {
            width: 100%;
            color: $color-font-gray;

            @media (min-width: $breakpoint-tablet) {
                padding-left: 2rem;
                padding-right: 2rem;
                padding-top: 4.5rem;
                width: 50%;
            }
        }
    }

    &__pic {
        padding-top: 3rem;
        text-align: center;

        @media (min-width: $breakpoint-tablet) {
            padding-top: 0;
        }

        img {
            max-width: 100%;

            @media (min-width: $breakpoint-desktop) {
                max-height: 40rem;
            }
            @media (min-width: $breakpoint-desktop-extra) {
                max-height: none;
            }
        }
    }
}
