$triggerCLass: '.trigger';

#{$triggerCLass} {
    &__content {
        margin: auto;
        max-width: 120rem;
        display: flex;
        flex-flow: row wrap;

        p {
            margin-bottom: 1em;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-big {
            padding-left: 2rem;
            padding-right: 2rem;
            width: 50%;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.3;
            color: $color-white;

            strong {
                color: $color-red;
            }
        }
        &-small {
            padding-top: 4.5rem;
            padding-left: 2rem;
            padding-right: 2rem;
            width: 50%;
            color: $color-font-gray;
        }
    }

    &__pic {
        img {
            max-width: 100%;
        }
    }
}
